/*
/* Top Bar
/* ========================= */

.topbar {
  height: 4em;
  background-color: #3976bc; /* #2296f3 dark20 */
}

.topbar-inner,
.navbar-inner {
  display: table;
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.topbar-inner > * {
  display: table-cell;
  font-size: 1.2em;
  color: #eaf2f8; /* IE 8 fallback */
  color: rgba(255, 255, 255, .9);
  vertical-align: middle;
}

.topbar-text {}

.topbar-account {
  display: table-cell;
  text-align: right;
}

.topbar-account-inner {
  background-color: #528ac6; /* IE 8 fallback */
  background-color: rgba(255, 255, 255, .15);
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 4rem;
}