/*
/* Home Page
/* ========================= */

/* Hero
/* ------------------------- */

.home .hero {
  position: absolute;
  top: 4em;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.home .hero-img {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1600px) {
  .home .hero-img {
     margin-left: 50%;
     transform: translateX(-50%);
  }
}

/* Service Form
/* ------------------------- */

.svcForms {
  position: relative;
  width: 974px; /* 2px both slides to offset border-spacing */
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 5rem;
}

/* form tabs */
.svcfomrs-tabs {
  display: table;
  width: 100%;
  border-spacing: 2px 0;
}

.svcforms-tab {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 20%;
  padding: 1.7em 0 1.7em 1.4em;
  color: #fff;
  background-color: #3c3d3e;
  background-color: rgba(0, 0, 0, .75);
  backdrop-filter: blur(2px);
  border-collapse: separate;
  cursor: pointer;
  transition: all .4s ease;
}

.svcforms-tab:hover {
  background-color: #222;
  background-color: rgba(0, 0, 0, .85);
}

.svcforms-tab i {
  font-size: 2.4em;
  float: left;
  margin-right: .7rem;
}

.svcforms-tab span {
  line-height: 2.4rem;
  display: inline-block;
}

.svcforms-tab.active {
  cursor: default;
  background-color: #669fdf;
  background-color: rgba(34, 150, 243, .75);
  backdrop-filter: blur(2px);
}

.svcforms-tab .lh1 { line-height: 1; } /* when double row */

/* forms */
.svcforms-forms {
  padding: 1rem 1.3rem;
  background-color: #fff;
  box-shadow: 0 5px 24px 1.25px rgba(0, 0, 0, 0.06);
}

.svcforms-form {
  display: none;
}

.svcforms-form.active { display: block; }

.svcform-signin {
  font-size: 1.2rem;
  color: #888;
}

.svcform-signin-link { text-decoration: underline; }
.svcform-signin-link:hover { color: #333; }

/* Service Info
/* ------------------------- */

.svcinfo {
  background: -moz-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(250,250,250,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* ie6-9 */
}

.svcinfo-inner {
  display: table;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6rem;
}

.svcinfo-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.svcinfo-specs {
  width: 600px;
}

.svcinfo-specs-inner {
  display: table;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.svcinfo-spec {
  display: table-cell;
}

.svcinfo-spec-num {
  color: #ff6c03;
}

.svcinfo-spec-num-alt {
  font-size: 1.6rem;
  font-weight: 400;
}

.svcinfo-spec-text {
  font-weight: 400;
  margin-top: 1em;
  margin-left: .25em;
}

.svcinfo-text-title { font-weight: 400; }

.svcinfo-text-bd { margin-top: 1.25em; }

/* Who, What, Why Intros
/* ------------------------- */

.wwwintros {
  background-color: #2296f3;
  position: relative;
}

.wwwintros-inner {
  display: table;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.wwwintros-inner:before {
  content: '';
  height: 100%;
  width: 50%;
  display: block;
  background-color: #1f87da;
  position: absolute;
  left: 0;
  z-index: 0;
}

.wwwintro {
  display: table-cell;
  width: 33.33%;
  color: #fff;
  position: relative;
  z-index: 1;
}

.wwwintro:first-of-type {
  background-color: #1f87da;
  /*background-color: rgba(0, 0, 0, .1);*/
}

.wwwintro:nth-of-type(2) {
  background-color: #208ee7;
  /*background-color: rgba(0, 0, 0, .05);*/
}

.wwwintro-inner {
  display: table;
  width: 100%;
  padding: 6rem 4rem;
}

.wwwintro-inner > * {
  display: table-cell;
  vertical-align: top;
}

.wwwintro-icn { font-size: 40px; }

.wwwintro-text {
  padding-left: 1.5rem;
}

.wwwintro-text-title { margin-bottom: .5em; }

.wwwintro-text-link { margin-top: 1em; }

/* Product Cards
/* ------------------------- */

.prodcards-outer {
  background-color: #f5f5f5;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.prodcards {}

.prodcards-inner {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.prodcards-hd {}

.prodcards-hd-title {
  float: left;
}

.prodcards-hd-link {
  float: right;
}

.prodcards-bd {
  display: table;

  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 100%;
}

.prodcard {
  display: table-cell;
  border-width: 0 10px;
  border-color: #f5f5f5;
  border-style: solid;
}

.prodcard:first-child { border-left: 0; }
.prodcard:last-child  { border-right: 0; }

.prodcard-inner {
  padding: 3rem;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.prodcard-inner:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transform: translate3d(0, -2px, 0);
  transition: all .2s ease;
}

.prodcard-img-outer {
  display: block;
  width: 215px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.prodcard-img {
  width: 100%;
}

.prodcard-nails {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
  font-size: 0;
}

.prodcard-nail {
  cursor: pointer;
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.prodcard-nail img {
  width: 33px;
  height: 33px;
  border: 1px solid #e0e0e0;
  transition: all .4s ease;
}

.prodcard-nail img:hover { opacity: .75; }

.prodcard-text {
  margin-top: .75em;
  max-height: 3em;
  overflow: hidden;
}

.prodcard-price { color: #ff6c03; }

/* tags */

.prodcard-tag-hot,
.prodcard-tag-verified {
  text-transform: uppercase;
  position: absolute;
  height: 2rem;
  min-width: 3rem;
  padding-left: .5em;
  padding-right: .5em;
  line-height: 2rem;
  color: #fff;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.015em;
  font-weight: 600;
}

.prodcard-tag-hot{ background-color: #fa252d; }

.prodcard-tag-verified { background-color: #2296f3; }

/* Service Gurantees
/* ------------------------- */

.svcguarantees {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding: 4rem 3rem;
}

.svcguarantee {
  display: table-cell;
  width: 33.33%;
  padding-right: 2rem;
}

.svcguarantee:first-of-type { box-shadow: 1px 0 0 0 #e0e0e0; }
.svcguarantee:nth-of-type(2) { box-shadow: 1px 0 0 0 #e0e0e0; }

.svcguarantee-icn {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3.2rem;
  color: #ff8d03;
  border: 1px solid #ff8d03;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  text-align: center;
}

.svcguarantee-icn i {
  display: inline-block;
  line-height: 1;
  padding-top: 1.8rem;
}

.svcguarantee-inner {
  display: table;
  width: 100%;
}

.svcguarantee-inner > * {
  display: table-cell;
  vertical-align: middle;
}

.svcguarantee-bd { margin-top: .75em; }


/* Our Clients
/* ------------------------- */

.ourclients {
  color: #fff;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #3199eb
              url('/img/bg-two-people-meeting-blue-mask-1600x247.jpg')
              right center
              / cover
              no-repeat;
}

@media (min-width: 1600px) {
  .ourclients { background-size: contain; }
}

.ourclients-subtitle {
  margin-top: 1em;
  margin-bottom: 2em;
}

.ourclients-logos {
  display: table;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.ourclients-logo {
  display: table-cell;
}

.ourclients-logo-img {
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
}