/*
/* IE 8 FIx
/* ========================= */

/* Service Form
/* ------------------------- */

/* use border to replace the no-showing shadows */
.svcforms-forms {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #efefef;
  width: 972px;
}

/* Form
/* ------------------------- */

/* fix border-spacing */
.form td {
  padding: 8px 10px;
}

/* hide select arrow, use default ones */
.form-control-select + .icn-arrow-down { background: none; }

/* option text alignment */

.form-control-select {
  padding-bottom: 7px;
  padding-top: 7px;
}


/* Modal
/* ------------------------- */

/* make bg conteent visible, IE 8 no support transparency */
.modal-outer { background-color: transparent; }

/* Our Clients
/* ------------------------- */

.ourclients {
  background-color: #3199eb;
  background-image: url('/img/bg-two-people-meeting-blue-mask-1600x247.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

/* Button
/* ------------------------- */

/* fix button arrow position */
.btn-primary-arrow { background-position: right center; }