/*
/* Button
/* ========================= */

.btn-primary,
.btn-primary-arrow {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  background-color: #2296f3;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 4rem;
  line-height: 4rem;
  min-width: 200px;
  transition: all .4s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary-arrow:hover { background-color: #1f87da; }

.btn-primary-arrow {
  text-align: left;
  background-image: url('/img/icn-arrow-right-white-32x20.png');
  background-repeat: no-repeat;
  background-size: 16px 10px;
  background-position: right 1em center;
}

.btn-primary-arrow:hover {
  background-position: right .7em center;
}


