/*
/* Color
/* ========================= */

/* Design
/* ------------------------- */
/* blue: #2296f3
/* blue dark: #1f87da
/* orange: #ff8d03
/* orange dark: #ff6c03
/* ------------------------- */

/* Text
/* ------------------------- */

.cl-text-brand { color: #1f87da; } /* blue dark: rgb(31, 135, 218); */
.cl-text-bold  { color: #ff6c03; } /* orange dark */

.cl-text       { color: #333; }
.cl-text-alt   { color: #888; }
.cl-text-minor { color: #b0b0b0; }

/* Background
/* ------------------------- */

.cl-bg-brand   { background-color: #2296f3; } /* blue: rgb(34, 150, 243); */
.cl-bg-bold    { background-color: #ff8d03; } /* orange */

.cl-bg-red     { background-color: #fa252d; }

.cl-bg-light   { background-color: #fafafa; }
.cl-bg         { background-color: #f5f5f5; }
.cl-bg-dark    { background-color: #333; }
.cl-bg-darker  { background-color: #2a2a2a; }

/* Line
/* ------------------------- */

.cl-line-light { border-color: #efefef; }
.cl-line       { border-color: #e0e0e0; }
.cl-line-dark  { border-color: #d6d6d6; }
