<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
  <link rel="stylesheet" type="text/css" href="/style/style.bundle.css" />
  <script type="text/javascript" charset="utf-8" src="/script/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/script/ux.js"></script>

  <title>WayGather - We go together!</title>
</head>
<body>
  <div class="wrapper"><!-- .wrapper begin -->
    <div class="header"><!-- .header begin -->
      <div class="topbar"><!-- .topbar begin -->
        <div class="topbar-inner"><!-- .topbar-inner begin -->
          <p class="topbar-text">Hello, we are experts in lighting solutions.</p>
          <div class="topbar-account">
            <div class="topbar-account-inner">
              <a href="">
                <i class="sg-user"></i>
                <span>Hello, Sign In</span>
              </a>
            </div>
          </div>
        </div><!-- .topbar-inner end -->
      </div><!-- .topbar end -->
      <div class="navbar"><!-- .navbar begin -->
        <div class="navbar-inner"><!-- .navbar-inner begin -->
            <a class="navbar-logo" href="/" title="WayGather Home Page"><!-- .navbar-logo begin -->
              <img src="/img/logo-WayGather-510x84.png"
                   width="255"
                   height="42"
                   alt="WayGather logo">
            </a><!-- .navbar-logo end -->
            <ul class="navbar-navs"><!-- .navbar-navs begin -->
              <li class="navbar-nav">
                <a href="/" class="navbar-nav-link h4 active">Services</a>
              </li>
              <li class="navbar-nav">
                <a href="/products" class="navbar-nav-link h4">Products</a>
              </li>
            </ul><!-- .navbar-navs end -->
            <div class="input-field navbar-search"><!-- .navbar-search begin -->
              <label class="input-holder navbar-search-holder" for="">
                <i class="sg-search"></i>
                <span>What are you looking for?</span>
              </label>
              <input class="form-control navbar-search-field" type="text" type="search">
            </div><!-- .navbar-search end-->
            <div class="navbar-funcs"><!-- .navbar-funcs begin -->
              <ul class="navbar-funcs-inner"><!-- .navbar-funcs-inner begin -->
                <li class="navbar-func">
                  <a href="" class="navbar-func-link">
                    <i class="sg-ringer"></i>
                    <p class="h6">Notice</p>
                  </a>
                </li>
                <li class="navbar-func">
                  <a href="" class="navbar-func-link">
                    <i class="sg-heart"></i>
                    <p class="h6">Favorite</p>
                  </a>
                </li>
                <li class="navbar-func">
                  <a href="" class="navbar-func-link">
                    <i class="sg-compare"></i>
                    <p class="h6">Compare</p>
                  </a>
                </li>
              </ul><!-- .navbar-funcs-inner end -->
            </div><!-- .navbar-funcs end -->
          </div><!-- .navbar-inner end -->
      </div><!-- .navbar end -->
    </div><!-- .header end -->

    <div class="hero"></div>

    <div class="svcforms"><!-- .svcforms begin -->
      <ul class="svcfomrs-tabs"><!-- .svcforms-tabs begin -->
        <li class="svcforms-tab">
          <i class="sg-search"></i>
          <span>Discover Products &amp; Supplier</span>
        </li>
        <li class="svcforms-tab">
          <i class="sg-clipboardtext"></i>
          <span>Supplier Varification</span>
        </li>
        <li class="svcforms-tab">
          <i class="sg-bulb"></i>
          <span>Product Testing</span>
        </li>
        <li class="svcforms-tab">
          <i class="sg-users"></i>
          <span>Join Group-Buy</span>
        </li>
        <li class="svcforms-tab">
          <i class="sg-truck"></i>
          <span>Shipment Inspection</span>
        </li>
      </ul><!-- .svcforms-tabs end -->
      <ul class="svcforms-items">
        <li class="svcforms-item">
          <div class="svcform form">
            <div class="form-row">
              <p class="h4 form-row-title">What products are you looking for?</p>
              <p class="svcform-signin">
                Have account? <a href="" class="svcform-signin-link">Sign in</a>
              </p>
            </div>
            <div class="form-row">
              <div class="input-field col2">
                <label for="" class="input-label">Enter the keywords of the products</label>
                <input type="text" class="form-control">
              </div>
              <div class="input-field col2">
                <label for="" class="input-label"></label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </li>
        <li class="svcforms-item">form 2</li>
        <li class="svcforms-item">form 3</li>
        <li class="svcforms-item">form 4</li>
        <li class="svcforms-item">form 5</li>
      </ul>
    </div><!-- .svcforms end -->

    <ul class="svcintros"><!-- .svcintros begin -->
      <li class="svcintro">
        <ul class="svcintro-specs">
          <li class="svcintro-spec">
            <p class="h0 svcintro-spec-num">
              15<span class="svcintro-spec-num-alt">Years</span>
            </p>
            <p class="h3 svcintro-spec-text"></p>
          </li>
          <li class="svcintro-spec">
            <p class="h0 svcintro-spec-num">
              500<span class="svcintro-spec-num-alt">+</span>
            </p>
            <p class="h3 svcintro-spec-text"></p>
          </li>
          <li class="svcintro-spec">
            <p class="h0 svcintro-spec-num">
              162<span class="svcintro-spec-num-alt">K</span>
            </p>
            <p class="h3 svcintro-spec-text"></p>
          </li>
        </ul>
        <div class="svcintro-text">
          <h2 class="svcintro-text-title">
            We provide <span class="bold">Best Lighting Products and Services</span> that our clients need.
          </h2>
          <p class="svcintro-text-bd">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores sunt saepe nulla quis iusto, ullam odit beatae eum cumque quo impedit corporis non ducimus.
          </p>
        </div>
      </li>
    </ul><!-- .svcintros end -->

    <ul class="wwwintros"><!-- .wwwintros begin -->
      <li class="wwwintro">
        <i class="ti-bulb wwwintro-icn"></i>
        <div class="wwwintro-text">
          <h2 class="wwwintro-title">Who Are We?</h2>
          <p class="wwwintro-bd">
            Lorem ipsum dolor sit amet, consectr adipisicing elit. Dolorum, amet, animi cumque ipsam delectus.
          </p>
          <p class="wwwintro-link">
            <a href="" class="link-minor">Read More</a>
          </p>
        </div>
      </li>
      <li class="wwwintro">
        <i class="ti-worldglobe wwwintro-icn"></i>
        <div class="wwwintro-text">
          <h2 class="wwwintro-title">What We Do?</h2>
          <p class="wwwintro-bd">
            Lorem ipsum dolor sit amet, consectr adipisicing elit. Dolorum, amet, animi cumque ipsam delectus.
          </p>
          <p class="wwwintro-link">
            <a href="" class="link-minor">Read More</a>
          </p>
        </div>
      </li>
      <li class="wwwintro">
        <i class="ti-like wwwintro-icn"></i>
        <div class="wwwintro-text">
          <h2 class="wwwintro-title">Why Choose Us?</h2>
          <p class="wwwintro-bd">
            Lorem ipsum dolor sit amet, consectr adipisicing elit. Dolorum, amet, animi cumque ipsam delectus.
          </p>
          <p class="wwwintro-link">
            <a href="" class="link-minor">Read More</a>
          </p>
        </div>
      </li>
    </ul><!-- .wwwintros end -->

    <div class="procards"><!-- .procards begin -->
      <div class="procards-hd">
        <h2 class="procards-hd-title">Groupbuy &amp; Hot Products</h2>
        <p class="procards-hd-link">
          <a href="" class="link-primary">View More</a>
        </p>
      </div>
      <ul class="procards-bd">
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
      </ul>
    </div><!-- .procards end -->

    <div class="procards"><!-- .procards begin -->
      <div class="procards-hd">
        <h2 class="procards-hd-title">Featured Products</h2>
        <p class="procards-hd-link">
          <a href="" class="link-primary">View More</a>
        </p>
      </div>
      <ul class="procards-bd">
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
        <li class="procard">
          <a href=""><img src="/img/pro/1-600x600.png" alt="" class="procard-img"></a>
          <ul class="procard-nails">
            <li class="procard-nail"><img src="/img/pro/1-1-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-2-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-3-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-4-120x120.png" alt=""></li>
            <li class="procard-nail"><img src="/img/pro/1-5-120x60.png" alt=""></li>
          </ul>
          <p class="procard-text">Dimmable and color changeable by switch or remote</p>
          <p class="h3 procard-price">$4.22~11.29</p>
        </li>
      </ul>
    </div><!-- .procards end -->

    <ul class="svcgurantees"><!-- .svcgurantees begin -->
      <li class="svcgurantee">
        <div class="svcgurantee-icn">
          <i class="ti-truck"></i>
        </div>
        <div class="svcgurantee-text">
          <h3 class="svcgurantee-title">Free Shipping</h3>
          <p class="svcgurantee-bd">Lorem ipsum dolor sit amet, consec adipisicing elit. Dolorum, animi.</p>
        </div>
      </li>
      <li class="svcgurantee">
        <div class="svcgurantee-icn">
          <i class="ti-restart"></i>
        </div>
        <div class="svcgurantee-text">
          <h3 class="svcgurantee-title">Returns &amp; Exchanges</h3>
          <p class="svcgurantee-bd">Lorem ipsum dolor sit amet, consec adipisicing elit. Dolorum, animi.</p>
        </div>
      </li>
      <li class="svcgurantee">
        <div class="svcgurantee-icn">
          <i class="ti-headset"></i>
        </div>
        <div class="svcgurantee-text">
          <h3 class="svcgurantee-title">24/7 Customer Support</h3>
          <p class="svcgurantee-bd">Lorem ipsum dolor sit amet, consec adipisicing elit. Dolorum, animi.</p>
        </div>
      </li>
    </ul><!-- .svcgurantees end -->

    <div class="ourclients"><!-- .ourclients begin -->
      <h2 class="h1 ourclients-title">Our Clients</h2>
      <h3 class="ourclients-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      <ul class="ourclients-logos">
        <li><img src="/img/client/logo-metronews-white-750x180.png" alt=""></li>
        <li><img src="/img/client/logo-chinadaily-white-353x49.png" alt=""></li>
        <li><img src="/img/client/logo-betakit-white-345x102.png" alt=""></li>
        <li><img src="/img/client/logo-techvibes-white-564x102.png" alt=""></li>
        <li><img src="/img/client/logo-creditcards-white-1576x346.png" alt=""></li>
        <li><img src="/img/client/logo-creaders-white-484x116.png" alt=""></li>
        <li><img src="/img/client/logo-customerthink-white-231x86.png" alt=""></li>
      </ul>
    </div><!-- .ourclients end -->

    <div class="footer"><!-- .footer begin -->
      <div class="footer-top"><!-- .footer-top begin -->
        <div class="footer-link-group">
            <h4 class="footer-link-group-title">Services</h4>
            <ul class="footer-links">
              <li class="footer-link"><a href="">Discover Products &amp; Suppliers</a></li>
              <li class="footer-link"><a href="">Supplier Verification</a></li>
              <li class="footer-link"><a href="">Product Testing</a></li>
              <li class="footer-link"><a href="">Join Group-Buy</a></li>
              <li class="footer-link"><a href="">Shipment Inspection</a></li>
            </ul>
        </div>
        <div class="footer-link-group">
            <h4 class="footer-link-group-title">Products</h4>
            <ul class="footer-links">
              <li class="footer-link"><a href="">Lamps</a></li>
              <li class="footer-link"><a href="">Accessories</a></li>
              <li class="footer-link"><a href="">Electrical Equipments</a></li>
              <li class="footer-link"><a href="">Control Gear</a></li>
              <li class="footer-link"><a href="">Lighting Fixtures</a></li>
              <li class="footer-link"><a href="">Lighting Modules</a></li>
            </ul>
        </div>
        <div class="footer-link-group">
            <h4 class="footer-link-group-title">Company</h4>
            <ul class="footer-links">
              <li class="footer-link"><a href="">About</a></li>
              <li class="footer-link"><a href="">Contact Us</a></li>
              <li class="footer-link"><a href="">Help Center</a></li>
              <li class="footer-link"><a href="">User Guide</a></li>
              <li class="footer-link"><a href="">Submit a Complaint</a></li>
            </ul>
        </div>
        <div class="footer-subscribe">
          <h4 class="footer-subscribe-title">Subscribe to Newsletter</h4>
          <div class="footer-subscribe-bd">
            <div class="input-field">
              <label for="" class="input-label">Enter your email</label>
              <input type="email" class="form-control">
            </div>
            <button class="btn">Subscribe</button>
          </div>
        </div>
      </div><!-- .footer-top end -->
      <div class="footer-bot"><!-- .footer-bot begin -->
        <a href="" class="footer-logo">
          <img src="/img/logo-WayGather-small-blue-white-340x56.png" alt="">
        </a>
        <p class="footer-legals">
          © 2001-2017 WayGather. All rights reserved.&nbsp;&nbsp;
          <a href="/help/Privacy-Policy.html">Privacy Policy</a>
          <a href="/help/Terms-Use.html">Terms</a>
          <a href="">Site Map</a>
        </p>
        <ul class="footer-socials">
          <li class="footer-social"><img src="/img/icn-linkedin-white-28x28.png" alt=""></li>
          <li class="footer-social"><img src="/img/icn-facebook-white-28x28.png" alt=""></li>
          <li class="footer-social"><img src="/img/icn-twitter-28x28.png" alt=""></li>
          <li class="footer-social"><img src="/img/icn-gplus-white-28x28.png" alt=""></li>
          <li class="footer-social"><img src="/img/icn-wechat-white-28x28.png" alt=""></li>
        </ul>
      </div><!-- .footer-bot end -->
    </div><!-- .footer end -->
  </div><!-- .wrapper end -->
</body>
</html>